.DS_Store
.sass-cache
.idea
composer.phar
app/config/parameters.yml
app/cache
app/logs
node_modules
bower_components
#/web
/data/migrations
/web/uploads
/web/media
/web/config.rb
/web/bundles
/web/css
/web/js
/web/images
/web/.htaccess
/vendor
app/bootstrap.php.cache
/epubs
/orderExport
/userFiles
go-pear.phar
/storage
/tmp
/lock


app/config/customRoutes/*