
//$icon-font-path: "/assets/fonts/glyphicons/";
//$fa-font-path: "/assets/fonts/fa/";

//Font sizes
$x-small: 0.75rem;     //12px
$small: 0.875rem;      //14px
$base: 1rem;           //16px
$large: 1.125rem;      //18px
$x-large: 1.313rem;    //21px
$xx-large: 1.5rem;     //24px
$xxx-large: 2.25rem;   //36px

$open-sans: "Open Sans", Arial, Helvetica, sans-serif;
