
.boxer {
  display:block;
  height:320px;
  position:relative;

  .anim {
    width:48px;
    height:48px;
    position:absolute;
    background-color:red;
    @include border-radius(50%);
    @include animation(patrol 12s infinite linear);
    z-index:999;
  }
}


@include keyframes(patrol) {
  0% {
    top:20px;
    left:20px;
  }
  25% {
    top:200px;
    left:20px;
  }
  50% {
    top:200px;
    left:200px;
  }
  75% {
    top:20px;
    left:200px;
  }
  100% {
    top:20px;
    left:20px;
  }
}
